.contact {
  position: relative;
  padding-top: 95px;
  padding-bottom: 95px;

  @include mq-max(767px) {
    display: flex;
    flex-direction: column-reverse;
    padding-top: 0;
    padding-bottom: 50px;
  }
}

.contact__content {
  @include mq-max(767px) {
    padding-top: 50px;
  }
}

.contact__header {
  margin-bottom: 50px;
}

.contact__title {
  margin: 0;
  font-family: $secondary-font;
  font-size: 18px;
  color: #373b43;
  text-transform: uppercase;
  letter-spacing: 0.05em;

  span {
    margin-left: -5px;
    padding-left: 5px;
    padding-right: 5px;
    background: linear-gradient(to top, transparent 0px, transparent 0, #eeeeee 0, #eeeeee 8px, transparent 0);
  }
}

.contact__info {
  @include mq-min(768px) {
    max-width: 50%;
    padding-right: $gutter;
    box-sizing: border-box;
  }
}

.contact__map-frame {
  overflow: hidden;

  @include mq-min(768px) {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 50%;
  }
}

.contact__map {
  height: 350px;

  @media (max-width: 767px) and (orientation: landscape) {
    height: 75vh;
  }

  @include mq-min(768px) {
    height: 100%;
  }
}
