.homepage-carousel {
  padding-top: 40px;
  padding-bottom: 40px;

  .slick-arrow {
    position: absolute;
    top: 50%;
    z-index: 1;
    transform: translateY(-50%);
    font-size: 0;
    background-color: #ffffff;
    border: none;
    padding: 0;
    // border-radius: 50%;
    // opacity: 0.8;
    // box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
    transition: $duration;
    outline: none;
    cursor: pointer;

    &::before {
      content: "";
      display: block;
      width: 150px;
      height: 150px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: 13px;
      opacity: 0.5;
      transition: $duration;
    }

    &:hover {
      &::before {
        opacity: 0.8;
      }
    }

    &:focus {
      box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
    }
  }

  .slick-prev {
    left: 0;

    &::before {
      background-image: url("images/arrow-prev.svg");
      background-position-x: calc(50% - 2px);
    }
  }

  .slick-next {
    right: 0;

    &::before {
      background-image: url("images/arrow-next.svg");
      background-position-x: calc(50% + 2px);
    }
  }
}

.homepage-carousel__item {
  transform: scale(0.7);
  transition: $duration * 2;
  opacity: 0.5;
  overflow: hidden;

  &.slick-center {
    transform: scale(1);
    opacity: 1;
    z-index: 2;
    overflow: visible;
  }

  a {
    @include make-fit-object(500, 375);
    margin-left: -50px;
    margin-right: -50px;

    &::after {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      background: url("images/zoom-in.svg") no-repeat center, linear-gradient(to top, rgba(#000000, 0.5), rgba(#000000, 0));
      background-size: 32px;
      opacity: 0;
      transition: $duration * 2;
      transform: translateY(10px);
    }

    &:hover,
    &:focus {
      &::after {
        opacity: 1;
        transform: translateY(0);
      }
    }
  }
}
