.homepage-header {
  min-height: 450px;
  padding-top: 40px;
  padding-bottom: vh(100);
  background: url("images/bg-index.jpg") no-repeat center calc(100% + 0%) / cover, linear-gradient(to right, #ebe6e3, #dad5d1);
  box-sizing: border-box;

  @include mq-min(768px) {
    padding-bottom: 300px;
  }

  @include mq-min(1024px) {
    padding-top: 70px;
    padding-bottom: 70px;
    height: 100vh;
    background: url("images/left.svg") no-repeat left top / 280px, url("images/right.svg") no-repeat right top / 280px, url("images/bg-index.jpg") no-repeat center calc(100% + 0%) / cover, linear-gradient(to right, #ebe6e3, #dad5d1);
  }

  @include mq-min(1200px) {
    padding-top: 70px;
    padding-bottom: 70px;
    height: 100vh;
    background: url("images/left.svg") no-repeat left top, url("images/right.svg") no-repeat right top, url("images/bg-index.jpg") no-repeat center calc(100% + 0%) / cover, linear-gradient(to right, #ebe6e3, #dad5d1);
  }
}

.homepage-header__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.homepage-header__nav {
  // margin-bottom: 150px;
  margin-bottom: 100px;

  @include mq-min(1024px) {
    margin-bottom: vh(150);

  }
}

.homepage-header__logo {
  width: vh(500);
  max-width: 100%;
  // margin-bottom: 150px;

  @include mq-min(768px) {
    max-width: 500px;
  }

  @include mq-min(1024px) {
    max-width: 600px;
  }
}
