.homepage-carousel {
  padding-top: 60px;
  padding-bottom: 60px;

  .slick-track {
    display: flex !important;

    &::before,
    &::after {
      content: none;
    }
  }

  .slick-arrow {
    position: absolute;
    top: 50%;
    z-index: 1;
    padding: 0;
    transform: translateY(-50%);
    font-size: 0;
    background-color: #ffffff;
    border: none;
    outline: none;
    cursor: pointer;
    transition: $duration;

    &::before {
      content: "";
      display: block;
      width: 150px;
      height: 150px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: 13px;
      opacity: 0.5;
      transition: $duration;
    }

    &:hover {
      &::before {
        opacity: 0.8;
      }
    }

    &:focus {
      box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
    }
  }

  .slick-prev {
    left: 0;

    &::before {
      background-image: url("images/arrow-prev.svg");
      background-position-x: calc(50% - 2px);
    }
  }

  .slick-next {
    right: 0;

    &::before {
      background-image: url("images/arrow-next.svg");
      background-position-x: calc(50% + 2px);
    }
  }
}

.homepage-carousel__item {
  position: relative;
  transform: scale(0.6);
  transition: $duration * 3;

  &.slick-center {
    z-index: 1;
    transform: scale(1);
    opacity: 1;

    a {
      &::before {
        opacity: 0;
      }
    }
  }

  a {
    @include make-fit-object(500, 375);

    margin-left: -50px;
    margin-right: -50px;

    &::before {
      position: relative;
      z-index: 2;
      background-color: #373b43;
      opacity: 0.6;
      transition: opacity $duration * 3;
    }

    &::after {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      background: url("images/zoom-in.svg") no-repeat center, linear-gradient(to top, rgba(#000000, 0.5), rgba(#000000, 0));
      background-size: 32px 32px, 100% 100%;
      opacity: 0;
      z-index: 3;
      transition: $duration * 2;
      transform: translateY(10px);
    }

    &:hover,
    &:focus {
      &::after {
        opacity: 1;
        transform: translateY(0);
      }
    }
  }
}
