.intro {
  position: relative;
  min-height: 500px;
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
  box-sizing: border-box;
  overflow: hidden;

  @include mq-min(568px) {
    padding-top: 100px;
  }

  @include mq-min(768px) {
    padding-top: calc(#{$header-height-desktop} + 0px);
  }

  @include mq-max(1023px) {
    display: flex;
    flex-direction: column-reverse;
  }

  @include mq-min(1024px) {
    height: 100vh;
    padding-bottom: 0;
  }
}

.intro__inner {
  @include mq-min(1024px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
  }
}

.intro__content {
  position: relative;
  z-index: 1;
  mix-blend-mode: multiply;

  @include mq-min(568px) {
    max-width: 75%;
  }

  @include mq-min(1024px) {
    max-width: 60%;
  }

  @include mq-min(1200px) {
    max-width: 50%;
  }
}

.intro__title {
  margin: 0;
  margin-bottom: 35px;
  font-weight: 400;
  font-size: 45px;
  line-height: 1.15;
  font-family: $secondary-font;
  color: #373b43;

  span {
    margin-left: -5px;
    padding-left: 5px;
    padding-right: 25px;
    background: linear-gradient(to top, transparent 5px, transparent 0, #eeeeee 0, #eeeeee 20px, transparent 0);
    box-decoration-break: clone;
  }

  @include mq-min(568px) {
    font-size: 55px;
  }

  @include mq-min(768px) {
    font-size: 65px;
  }
}

.intro__tags {
  @include clear-list();

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 35px;

  li {
    margin-right: 1ch;
    font-weight: 700;
    font-size: 12px;
    text-transform: uppercase;
    color: $accent-color;
  }

  @include mq-min(768px) {
    &::before {
      content: "";
      width: 100px;
      height: 1px;
      background-color: $accent-color;
      margin-right: 25px;
    }
  }

  @include mq-min(1024px) {
    &::before {
      width: 150px;
    }
  }
}

.intro__text {
  @include clear-mr-edges-elem();

  font-size: 15px;
}

.intro__picture {
  @include make-fit-object();

  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 35%;

  img {
    object-position: left;
  }

  @include mq-min(1024px) {
    top: calc(#{$header-height-desktop} + 0px);
    width: 50%;
  }
}
