.main-header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  max-width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: rgba(#ffffff, 0.8);
}

.main-header__inner {
  display: flex;
  justify-content: space-between;
}

.main-header__logo {
  margin-right: $gutter;
  max-width: 160px;
}

.main-header__contact {

}
