.work-time {

  @include mq-min(992px) {
    text-align: right;
  }
}

.work-time__schedule {
  @include clear-list();
}

.work-time__schedule-item {
  font-size: 24px;
  margin-bottom: 8px;
}

.work-time__schedule-key {

}

.work-time__schedule-val {

}
